fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic
passlib
argon2-cffi
google-generativeai==0.8.3
python-jose[cryptography]
python-dotenv
pgvector
requests
beautifulsoup4
firebase-admin
bcrypt
scrapy
selenium
webdriver-manager
langchain
langchain-google-genai==2.0.7
langchain-community
openai
redis
apscheduler
celery
email-validator
fake-useragent
python-multipart
aiohttp
lxml
playwright
slowapi
python-dateutil
numpy
google-cloud-firestore==2.13.1
google-cloud-core==2.4.1
google-api-core==2.17.1
grpcio==1.62.1
grpcio-status==1.62.1
cryptography==42.0.5
google-auth==2.27.0
google-auth-oauthlib==1.2.0